<div class="new-theme-border">
    <div class="header-background">
        <span>Change songs by ID</span>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="new-theme-title">
            <label for="themeName">Change artist ID <span class="red">*</span></label>
            <input  type="text" 
            name="themeName" id="themeName" [(ngModel)]="artistId"
                >
            <!-- <input [class.input-error]="titleError" type="text" 
            name="themeName" id="themeName" [(ngModel)]="artistId"
                > -->
            <!-- @if (titleError) {
            <p class="error">
                {{ titleErrorMessage }}
            </p>
            } -->
        </div>
        <!-- <div class="new-theme-content">
            <label for="postText">Post <span class="red">*</span></label>
            <textarea [class.input-error]="contentError" type="text" name="postText" id="postText" rows="8"
                class="height" [(ngModel)]="postText" ></textarea> -->
            <!-- @if (contentError) {
            <p class="error">
                {{ contentErrorMessage }}
            </p>
            } -->
        <!-- </div> -->
        <div class="new-theme-buttons">
            <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
            <button type="submit" class="public" >Post</button>
            <!-- <button type="submit" class="public" [disabled]="!isFormValid()">Post</button> -->
        </div>
    </form>

    <!-- Pass artistId only after user submits -->
<!-- <app-theme-board *ngIf="submitted" [artistId]="artistId"></app-theme-board> -->

</div>